<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
    <div class="form-container">
        <h2>Signup</h2>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="name">User name:</label>
                <input type="text" id="name" name="username" placeholder="Enter user name" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="enter password" required>
            </div>
            <div class="form-group">
                <label for="mobile_no">mobile no:</label>
                <input type="text" name="mobile_no" id="mobile_no" placeholder="enter mobile no" required>
            </div>
            <button type="submit" class="submit-btn">Signup</button>
        </form>
    </div>
</body>
</html>